body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
}
#links {
  display: flex;
  justify-content: center;
  flex-grow:1;
}

#navbar img{
  float:left;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  margin: auto;
  opacity: 75%;
  justify-content: center;
  display: flex;
  width: 100%;
  height:10%;
}

#links a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin:auto;
  text-decoration: none;
  font-family: Source Code Pro;
  font-size: 3vw;
}
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: scroll;
}


#endcard {
  margin-bottom:0;
  text-align: center;
  font-family: Source Code Pro;
  overflow: hidden;
  background-color: #333;
  opacity: 85%;
  width: 100%;
}

#endcard p {
  display:block;
  color:#f2f2f2;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
#margin {
  height: 10vh;
  width: 100%;
}

#social_med {
  display:block;
  padding-top:1%;
  justify-content: center;
}


#endcard a {
  text-decoration:underline;
  color:white;
}
#endcard a:hover{
  color:green;
  text-decoration: underline;
}

body {
  background-color: white;
}


.content {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0.2, 0.2, 0.2, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:50%;
  margin:auto;
  font-family: Source Code Pro;
  color: white;
}

.content h1{
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.content a{
  text-decoration: underline;
  color: white;
}


#gap {
  height: 100vh;
}

#pagination {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

#pagination button {
  background: #000000dd;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: Source Code Pro;
}

#pagination button:disabled {
  visibility: hidden;
}

#page-info {
  background: #000000ab;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family:Source Code Pro;
  color:white;
}



#page-info {
  font-size: 1rem;
  font-weight: bold;
}

#social_med img{
  width:5vw;
  margin-right:1vw;
}
